<nav class="mw7 center pa0 ma0 dt-ns w-100 pl2 pl4-ns pr2 pr4-ns ">
  <div class="db dtc-ns tc tl-ns">
    <a class="link dim" href="/">
      <img src="/googly.png" class="v-mid w3 h3 br-100 br0-ns pt1 pt0-ns" alt="Silent Sam with googly eyes"/>
    </a>
  </div>
  <div class="db dtc-ns w-100 w-90-ns v-mid tc tr-ns pt2 pt0-ns pb2 pb0-ns">
    <a class="link dim dark-gray f5-ns f6 dib mr3 mr4-l b" href="/cases/shamsettlement/" title="Sham Settlement">Nov. 27 Settlement</a>
    <a class="link dim dark-gray f5-ns f6 dib mr3 mr4-l b" href="/cases/dmca/" title="Sham Settlement">DMCA</a>
    <a class="link dim dark-gray f5-ns f6 dib mr3 mr4-l b" href="/mysteries/" title="Mysteries">Mysteries</a>
  </div>

<!--
  <a class="db dtc v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="Home">
    <img src="/googly.png" class="dib w3 h3 br3" alt="Silent Sam with googly eyes">
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/" title="Home">Silent Sham</a>

    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l"
       href="https://twitter.com/greg_doucette"
       title="How it Works">@greg_doucette</a>
  </div>
  <hr/>
-->
</nav>

