{{ define "main" }}

<p class="dn db-ns">"Silent Sham" was coined by
<a class="link dim" href="https://twitter.com/wqsaves">@wqsaves</a>
(<a class="link dim" href="https://twitter.com/greg_doucette/status/1205567526308077570">source</a>)
as the name of the bizarre legal settlement by the
UNC Board of Governors giving the NC Sons of Confederate Veterans
at least $2,574,999 and the confederate monument known as
"<a class="link dim" href="https://en.wikipedia.org/wiki/Silent_Sam">Silent Sam</a>."</p>

<p class="dn db-ns">There has been a bit of fuss about the whole thing.</p>

<h2 class="tc tl-ns">News about the Silent Sham</h1>

<ul class="w100 pa0 list pl0">

{{ range where .Pages "Title" "Links" }}
  {{ range .Pages }}
  <li class="">
      <hr class="w5 tl bb center ml0-ns"/>
      <a class="link dim" href="{{.Params.link}}">{{.Title}}</a>
      <br/>
      {{.Params.source}}. {{.Date.Format "2 January 2006" }}.
  </li>
  {{ end }}
{{ end }}

</ul>

{{ end }}
