{{ define "main" }}

<p class="dn db-ns">SilentSham.com is a one-stop repository for news
  stories, court documents, unanswered questions, and other issues related
  to "<a class="link dim" href="https://twitter.com/search?q=%23SilentSham">#SilentSham</a>":
  the pair of secret settlements entered into by the UNC system's Board of 
  Governors with the NC Division Sons of Confederate Veterans (SCV), giving 
  the SCV the Confederate statue known as 
  "<a class="link dim" href="https://en.wikipedia.org/wiki/Silent_Sam">Silent Sam</a>"
  as well as $2,574,999.00 USD in public education money.</p>

<p class="dn db-ns">"Silent Sham" was coined by Twitter user
<a class="link dim" href="https://twitter.com/wqsaves">@wqsaves</a>
(<a class="link dim" href="https://twitter.com/greg_doucette/status/1205567526308077570">source</a>)
as the name for this corrupt bargain and related efforts to cover it up.</p>

<p class="dn db-ns">There has been a bit of fuss about the whole thing, compiled 
  below and in the other sections of this website.</p>

<h2 class="tc tl-ns">News about the Silent Sham</h1>

<ul class="w100 pa0 list pl0">

{{ range where .Pages "Title" "Links" }}
  {{ range .Pages }}
  <li class="">
      <hr class="w5 tl bb center ml0-ns"/>
      <a class="link dim" href="{{.Params.link}}">{{.Title}}</a>
      <br/>
      {{.Params.source}}, {{.Date.Format "2 January 2006" }}
  </li>
  {{ end }}
{{ end }}

</ul>

{{ end }}
